.contenedor{
    width:960px;
    margin-left:auto;
    margin-right:auto;
    background-color:#b5fbca;
    padding:1em;
}

.contenedor-logo{
    width:200px;
    margin-left:auto;
    margin-right:auto;
}

h1{
    text-align:center;
    padding:20px;
    background-color:#e6af2b;
}

h2{
    text-align:center;
}

.cuadro-azul{
    float:left;
    width:45%;
    height:220px;
    background-color:#a2cff0;
    border:1px solid #000;
    padding:10px;
    margin:10px;
}

.cuadro-azul table{
    width:100%;
    border-spacing:20px;
}

.cuadro-azul table tr{
    padding:10px;;
}

.dato{
    width:100%;
    background-color:#a2cff0;
    border-radius:5px;
}

.contenedor-enviar{
    text-align:center;
}

.contenedor-enviar input{
    font-size:1.5em;
    padding:10px;
    border-radius:5px;
}

.pie{
    text-align:center;
    padding:20px;
    background-color:#e6af2b;
}

